# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
iron-api-build
iron-api-build.tar.gz

# misc
.DS_Store
.env
npm-debug.log
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/reaktivate.iml
.idea/vcs.xml
.idea/workspace.xml
